@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<div class="container">

    <h1>Bookstore</h1>

    @foreach (var x in Model)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bd-faded p-1">
                <h3>@x.Title</h3>
                <p><b>Author:</b> @x.AuthorFirst @x.AuthorMiddle @x.AuthorLast</p>
                <p><b>Publisher:</b> @x.Publisher</p>
                <p><b>ISBN:</b> @x.ISBN</p>
                <p><b>Classification:</b> @x.Classification</p>
                <p><b>Category:</b> @x.Category</p>
                <span class="bade badge-pill badge-primary" style="float:right;text-align:center;">
                    <small><b>Price:</b> $@x.Price</small>
                </span>
            </div>
        </div>
    }

    <br />
    <h3>Table Version</h3>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author Firstname</th>
                <th>Author Middlename</th>
                <th>Author Lastname</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.Title</td>
                <td>@x.AuthorFirst</td>
                <td>@x.AuthorMiddle</td>
                <td>@x.AuthorLast</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Classification</td>
                <td>@x.Category</td>
                <td>$@x.Price</td>
            </tr>
            }
        </tbody>
    </table>
</div>
